vti_encoding:SR|utf8-nl
vti_author:SR|Matt Magleby
vti_modifiedby:SR|MAGLEBY-HOME\\Matt
vti_timecreated:TR|15 Jul 2001 07:46:24 -0000
vti_timelastmodified:TR|02 Jan 2003 05:24:40 -0000
vti_extenderversion:SR|5.0.2.2623
vti_nexttolasttimemodified:TR|16 Jul 2001 16:49:32 -0000
vti_backlinkinfo:VX|
vti_syncofs_ftp.xmission.com\:21/public_html/eaw:TW|22 Jul 2002 04:28:00 -0000
vti_syncwith_ftp.xmission.com\:21/public_html/eaw:TX|16 Jul 2001 16:49:34 -0000
vti_lineageid:SR|{5F0AB2CD-9CF7-11D6-A31C-006008A7124B}
vti_cacheddtm:TX|16 Jul 2001 16:49:34 -0000
vti_filesize:IR|892
vti_syncofs_ftp.xmission.com\:21/~mmagleby/public_html/eaw:TW|08 Feb 2005 12:42:00 -0000
vti_syncwith_ftp.xmission.com\:21/~mmagleby/public_html/eaw:TX|16 Jul 2001 16:49:34 -0000
vti_syncwith_max188.x10hosting.com\:21/public_html/max188/eaw:TX|16 Jul 2001 16:49:34 -0000
vti_syncofs_max188.x10hosting.com\:21/public_html/max188/eaw:TW|17 Apr 2009 02:33:00 -0000
