vti_encoding:SR|utf8-nl
vti_author:SR|Matt Magleby
vti_modifiedby:SR|MAGLEBY-HOME\\Matt
vti_timecreated:TR|15 Jul 2001 07:46:24 -0000
vti_timelastmodified:TR|02 Jan 2003 05:24:41 -0000
vti_extenderversion:SR|5.0.2.2623
vti_nexttolasttimemodified:TR|16 Jul 2001 16:49:32 -0000
vti_backlinkinfo:VX|
vti_syncofs_ftp.xmission.com\:21/public_html/eaw:TW|22 Jul 2002 04:28:00 -0000
vti_syncwith_ftp.xmission.com\:21/public_html/eaw:TX|16 Jul 2001 16:49:34 -0000
vti_lineageid:SR|{5F0AB2E7-9CF7-11D6-A31C-006008A7124B}
vti_cacheddtm:TX|16 Jul 2001 16:49:34 -0000
vti_filesize:IR|2252
vti_cachedlinkinfo:VX|S|exphorsa.gif S|expbul1a.gif S|expbul2a.gif S|expbul3a.gif S|expbanna.gif S|exphbuda.gif S|exphbuha.gif S|exphbusa.gif S|expvbuda.gif S|expvbuha.gif S|expvbusa.gif S|exphomda.gif S|exphomha.gif S|exphomsa.gif S|expnexda.gif S|expnexha.gif S|expnexsa.gif S|exppreda.gif S|exppreha.gif S|exppresa.gif S|expupda.gif S|expupha.gif S|expupsa.gif S|expbul1a.gif S|expbul2a.gif S|expbul3a.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/custom/exphorsa.gif FSUS|_themes/custom/expbul1a.gif FSUS|_themes/custom/expbul2a.gif FSUS|_themes/custom/expbul3a.gif FSUS|_themes/custom/expbanna.gif FSUS|_themes/custom/exphbuda.gif FSUS|_themes/custom/exphbuha.gif FSUS|_themes/custom/exphbusa.gif FSUS|_themes/custom/expvbuda.gif FSUS|_themes/custom/expvbuha.gif FSUS|_themes/custom/expvbusa.gif FSUS|_themes/custom/exphomda.gif FSUS|_themes/custom/exphomha.gif FSUS|_themes/custom/exphomsa.gif FSUS|_themes/custom/expnexda.gif FSUS|_themes/custom/expnexha.gif FSUS|_themes/custom/expnexsa.gif FSUS|_themes/custom/exppreda.gif FSUS|_themes/custom/exppreha.gif FSUS|_themes/custom/exppresa.gif FSUS|_themes/custom/expupda.gif FSUS|_themes/custom/expupha.gif FSUS|_themes/custom/expupsa.gif FSUS|_themes/custom/expbul1a.gif FSUS|_themes/custom/expbul2a.gif FSUS|_themes/custom/expbul3a.gif
vti_syncofs_ftp.xmission.com\:21/~mmagleby/public_html/eaw:TW|08 Feb 2005 12:42:00 -0000
vti_syncwith_ftp.xmission.com\:21/~mmagleby/public_html/eaw:TX|16 Jul 2001 16:49:34 -0000
vti_syncwith_max188.x10hosting.com\:21/public_html/max188/eaw:TX|16 Jul 2001 16:49:34 -0000
vti_syncofs_max188.x10hosting.com\:21/public_html/max188/eaw:TW|17 Apr 2009 02:34:00 -0000
