vti_encoding:SR|utf8-nl
vti_author:SR|Matt Magleby
vti_modifiedby:SR|Matt Magleby
vti_timecreated:TR|16 Jul 2001 17:04:51 -0000
vti_timelastmodified:TR|17 Jul 2001 06:58:40 -0000
vti_extenderversion:SR|5.0.2.2623
vti_nexttolasttimemodified:TR|17 Jul 2001 06:40:35 -0000
vti_backlinkinfo:VX|
vti_syncofs_ftp.xmission.com\:21/public_html/eaw:TW|22 Jul 2002 04:28:00 -0000
vti_syncwith_ftp.xmission.com\:21/public_html/eaw:TX|17 Jul 2001 06:58:42 -0000
vti_cacheddtm:TX|17 Jul 2001 06:58:42 -0000
vti_filesize:IR|2252
vti_cachedlinkinfo:VX|S|exphorsa.gif S|expbul1a.gif S|expbul2a.gif S|expbul3a.gif S|expbanna.gif S|exphbuda.gif S|exphbuha.gif S|exphbusa.gif S|expvbuda.gif S|expvbuha.gif S|expvbusa.gif S|exphomda.gif S|exphomha.gif S|exphomsa.gif S|expnexda.gif S|expnexha.gif S|expnexsa.gif S|exppreda.gif S|exppreha.gif S|exppresa.gif S|expupda.gif S|expupha.gif S|expupsa.gif S|expbul1a.gif S|expbul2a.gif S|expbul3a.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/custom-home/exphorsa.gif FSUS|_themes/custom-home/expbul1a.gif FSUS|_themes/custom-home/expbul2a.gif FSUS|_themes/custom-home/expbul3a.gif FSUS|_themes/custom-home/expbanna.gif FSUS|_themes/custom-home/exphbuda.gif FSUS|_themes/custom-home/exphbuha.gif FSUS|_themes/custom-home/exphbusa.gif FSUS|_themes/custom-home/expvbuda.gif FSUS|_themes/custom-home/expvbuha.gif FSUS|_themes/custom-home/expvbusa.gif FSUS|_themes/custom-home/exphomda.gif FSUS|_themes/custom-home/exphomha.gif FSUS|_themes/custom-home/exphomsa.gif FSUS|_themes/custom-home/expnexda.gif FSUS|_themes/custom-home/expnexha.gif FSUS|_themes/custom-home/expnexsa.gif FSUS|_themes/custom-home/exppreda.gif FSUS|_themes/custom-home/exppreha.gif FSUS|_themes/custom-home/exppresa.gif FSUS|_themes/custom-home/expupda.gif FSUS|_themes/custom-home/expupha.gif FSUS|_themes/custom-home/expupsa.gif FSUS|_themes/custom-home/expbul1a.gif FSUS|_themes/custom-home/expbul2a.gif FSUS|_themes/custom-home/expbul3a.gif
vti_lineageid:SR|{5F0AB2B3-9CF7-11D6-A31C-006008A7124B}
vti_syncofs_ftp.xmission.com\:21/~mmagleby/public_html/eaw:TW|08 Feb 2005 12:42:00 -0000
vti_syncwith_ftp.xmission.com\:21/~mmagleby/public_html/eaw:TX|17 Jul 2001 06:58:42 -0000
vti_syncwith_max188.x10hosting.com\:21/public_html/max188/eaw:TX|17 Jul 2001 06:58:42 -0000
vti_syncofs_max188.x10hosting.com\:21/public_html/max188/eaw:TW|17 Apr 2009 02:33:00 -0000
